.about-shop {
    padding: 0 20px;
    text-align: justify;

}

.about-shop__wrapper {
    .container-fluid();
    background-color: white;
    box-shadow: 0 5px 10px 5px lightgrey;
}

.about-shop__title {
    font-size: 20px;
    line-height: 25px;
}

.about-shop__content,
.about-shop__title {
    padding: 0  20px;
}

@media @tablet-widths {
    .about-shop {
        padding: 0;
    }

}
