.form-data {
    padding: 20px 30px;

}

.form-data__wrapper {
    .container-fluid();
    padding: 0  30px;
    background-color: white;
    box-shadow: @box-shadow-block;

}

.form-data__block--ok {
    min-height: 70%;
}

.form-data__required-fields {
    display: none;
}

.form-data__error {
    display: none;
    width: 280px;
    margin-right: 30px;
    color: red;
    font-size: 12px;

    &--show {
        display: block;
    }
}

.form-data__title {
    display: block;
    //color: @bg-lightblue;
    text-transform: uppercase;

    margin-top: 25px;
    margin-bottom: 30px;

    & span {
        padding-right: 15px;
        background-color: white;
    }
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        margin-top: -12px;
        //background-color: @bg-lightblue;
    }
}

.form-data__button {
    width: 100%;
    margin-bottom: 60px;
}

.form-data__submit {
    margin: 40px 0;
}

.form-data__policy {
    color: blue;

    &:hover {
        text-decoration: underline;
    }
}

.form-data__table {
    text-align: center;
    margin-top: 10px;
    & td {
        border: 1px solid lightgrey;
        padding: 5px 10px 0 10px;
    }

}

@media @tablet-widths {

    .form-data__block-head {
        .container-fluid();
    }

    .form-data__required-fields {
        display: inline;
    }

    .form-data {
        padding: 20px 0;
        //.container-fluid();
    }

    .form-data__title {

        //min-width: 20%;
        &::after {
            display: none;
        }
    }

    .form-data__block {
        display: flex;
        padding: 20px 0;

        &--relations {
            flex-wrap: wrap;
        }


    }

    .form-data__block-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
        .container-fluid();

        &--textarea {
            align-items: flex-start;
        }
    }

    .form-data__choose {
        //display: flex;
        flex-grow: 1;
    }

    .form-data__choose-item {
        display: flex;
        align-items: baseline;
    }

    .form-data__choose-color {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-data__submit {
        display: flex;
        justify-content: space-between;
    }

    .form-data__button {
        width: auto;
    }

    .form-data__ink {

        &::after {
            content: "";
            margin-top: 50px;
            display: block;
            width: 100px;
            height: 100px;
            background-image: url("../img/ink.png");
            background-position: center;
        }
    }
}
