.goods {
    text-align: center;
    padding: 0 20px;

}

.goods--nojs .goods__btn,
.goods--nojs .goods__btn {
    display: none;
}

.goods__wrapper {
    .container-fluid();
    position: relative;

    background-color: @box-color;
    box-shadow: @box-shadow-block;
}
.goods__title {
    text-align: left;
    font-size: 20px;
    line-height: 25px;
    margin-left:  20px;
    margin-bottom: 20px;
}

.goods__item {
    display: flex;
    flex-direction: column;
    //padding: 20px 0;
    width: 100%;
    //width: 210px;
    position: relative;

}

.goods__btn,
.goods__btn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 245px;
    right: 0;
    background-image: url("../img/sprite.png");
    background-position: 50px -30px;

    font-size: 0;
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;

    &:hover,
    &:active {
        background-image: url("../img/sprite.png");
        background-position: 129px -35px;
        //background-repeat: no-repeat;
        //top: 246px;

    }

    &:active {
        top: 246px;
    }
}

.goods__prev {
    left: 0;
    transform: scale(-1, 1);
}

.goods__img {
    display: block;
    position: relative;
    width: 200px;
    margin: 0 auto;

    & img {
       min-height: 160px;
   }
}

.goods__wrapper {
    overflow: hidden;
}

.goods__items {
    width: 800%;
    display: flex;
    justify-content: flex-start;

    transform: translate(-0%);
    transition: transform 0.8s ease;
}

.goods__buttons {
    margin-top: auto;
    margin-bottom: 10px;

    &--availability {
        cursor: default;
         &:hover {
             color: black;
         }
    }

    &--availability::after,
    &--availability::before {
           display: none;
    }

    &--is {
        display: none;
    }

    &--isnt {
        display: block;
        margin: 0 20px;
        margin-top: 10px;
    }

    &--this .goods__buttons--isnt {
        display: none;

    }

    &--this .goods__buttons--is {
        display: block;
        margin: 0 20px;
        margin-top: 10px;
    }
}



@media @tablet-widths {
    .goods  {
        padding: 25px 0;
    }
    .goods__items {
        width: 400%;
    }

    .goods__item {
        display: flex;
        flex-direction: column;

        border: 1px solid lightgrey;
        box-shadow: @box-shadow;

        margin: 20px 20px;
    }
    .goods__img {
        //width: 100px;
        flex-shrink: 0;
        margin: 0 auto;
        overflow: hidden;


        & img {
            transition: 0.5s;
        }

        & img:hover {
            // box-shadow: 1px 0px 10px 0px @color-pink-title;
            //transform: scale(1.05);
        }

        // &::after {
        //     content: attr(data-title);
        //     display: none;
        //
        // }
        //
        // &:hover::after {
        //
        //    display: block;
        //    content: attr(data-title); /* Выводим текст */
        //    position: absolute; /* Абсолютное позиционирование */
        //    right: -30px; top: 0; /* Положение подсказки */
        //    z-index: 1; /* Отображаем подсказку поверх других элементов */
        //     background-color: rgba(249, 62, 158, 0.8); /* Полупрозрачный цвет фона */
        //     font-family: Arial, sans-serif; /* Гарнитура шрифта */
        //    font-size: 11px; /* Размер текста подсказки */
        //    padding: 5px 10px; /* Поля */
        //    border: 1px solid #333; /* Параметры рамки */
        //    transform: rotate(45deg);
        //
        // }
    }
}

@media @desktop-widths {
    .goods__items {
        width: 200%;
    }
}
