@keyframes forms {
    from {left: -500px;}
}

@keyframes transitionForm {
    from {top: -500px;}
}

.modal-content__wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    padding-top: 40px;
}

.modal-content {
    background-image: url("../img/background1.jpg");
    background-size: 50%;

    animation: forms;
    animation-duration: 0.5s ;
    display: none;
    min-width: 200px;
    max-width: 800px;


    z-index: 1000;


    left: calc(50% - 25%);

    width: 50%;
    //background-color: white;
    box-shadow: 0 5px 10px 5px lightgrey;
}

//Форма перехода в корзину
.modal-content__transition {
    background-image: url("../img/background1.jpg");
    background-size: 50%;
    top: 20%;
    position: fixed;
    animation: transitionForm;
    animation-duration: 0.5s ;
    display: none;
    width: 100%;


    z-index: 1000;





    text-align: center;


    background-color: white;
    box-shadow: 0 5px 10px 5px lightgrey;

    & a {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;

        max-width: 200px;
    }

    & p {
        margin-bottom: 50px;
    }
}

.modal-content__overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 15;
}

.modal-content--show {
    display: block;


}

.modal-content__btn {
    display: inline-block;
}

.modal-content__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    display: block;
    width: 70px;
    height: 50px;

    font-size: 0;

    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;

    outline: none;

    border: none;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 34px;
        left: 18px;
        width: 36px;
        height: 2px;
        background-color: @color-pink-title;
        //background-color: #000000;
        transition: 0.5s linear;
    }

    &::before {
    transform: rotate(45deg);
    box-shadow: none;
    }

    &::after {
        transform: rotate(-45deg);
    }
    &:hover::before,
    &:hover::after,
    &:active::before,
    &:active::after {


    }

    &:hover::after {
        transform: rotate(140deg);
    }
    &:hover::before {
        transform: rotate(225deg);

    }

}


@media @tablet-widths {

    .modal-content__transition {

    left: calc(50% - 15%);
    width: 30%;
    }

    .modal-content {
        top: 10%;
        position: fixed;
        //left: 25%;
    }

    .modal-content__input {
        margin-bottom: 20px;
        width: 80%;
    }
}
