.one-goods {
    text-align: center;
}

.one-goods__wrapper {
    .container-fluid();
    position: relative;

    //background-color: white;
    //box-shadow: 0 5px 10px 5px lightgrey;
}

.one-goods__info {
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
    box-shadow: 0 5px 10px 5px lightgrey;
}

.one-goods__benefits {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
    box-shadow: 0 5px 10px 5px lightgrey;
}

.one-goods__buttons {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}

.one-goods__buttons .btn {
    width: 100%;
    margin: 10px 0;


}

.one-goods__items {
    margin-left: 20px;
}

.one-goods__item {
    padding-left: 20px;
    margin-bottom: 20px;
}

.one-goods__title {
        background-color: white;
        box-shadow: 0 5px 10px 5px lightgrey;
        padding: 20px;
        line-height: 0;
}

@media @tablet-widths {
    .one-goods__top {
        display: flex;
        flex-shrink: 1;
    }

    .one-goods__link {
        margin: 15px 0;
    }

    .one-goods__info {
        margin-right: 0;
    }

    .one-goods__benefits {
        margin-left: 0;
        margin-right: 0;
    }
}
