.one-goods {
    text-align: center;
}




.one-goods__wrapper {
    .container-fluid();
    position: relative;

    //background-color: white;
    //box-shadow: 0 5px 10px 5px lightgrey;
}

.one-goods__info {
    display: flex;
    flex-direction: column;
    text-align: left;

    justify-content: space-between;
    margin: 20px;
    background-color: @box-color;
    box-shadow: @box-shadow-block;
}

.one-goods__benefits {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
    box-shadow: 0 5px 10px 5px lightgrey;
}

.one-goods__buttons {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    //Скрываем кнопки в корзину и купить

}

.one-goods__availability {
    position: relative;
    padding-left: 30px;


    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 2px;
        width: 22px;
        height: 22px;
        background-image: url('../img/sprite.png');
        background-position: -455px 221px;

    }

    &--ok::before {
        background-image: url('../img/sprite.png');
        background-position: -395px 221px;
    }

}


 .one-goods__buttons .btn {
     //display: block;
      width: 80%;
      margin: 10px auto;

      text-align: center;
}

.one-goods__items {
    margin-left: 20px;
}

.one-goods__item {
    padding: 0 20px;
    margin-bottom: 20px;
    list-style: circle;

}

.one-goods__title {
    background-color: @box-color;
    box-shadow: @box-shadow-block;
        padding: 20px 0;
        line-height: 20px;
}

.one-goods__delivery {
    color: @color-pink-title;
}

.one-goods__link {
    min-width: 300px;
}

@media @tablet-widths {
    .one-goods__top {
        display: flex;
    }

    .one-goods__link {
        margin: 15px 0;
    }

    .one-goods__info {
        margin-right: 0;
        flex-direction: row;
    }

    .one-goods__benefits {
        margin-left: 0;
        margin-right: 0;
    }

     .one-goods__buttons .btn {
         margin: 10px 0;
     }
}
