.page-footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;

}

.page-footer__info {
    display: inline-block;
    margin: 0 auto;




    & a {
        color: white;
    }

    & a:hover {
        color: @color-pink-title;
    }
}





@media @tablet-widths {
    .page-footer__wrapper {
        .container-fluid();
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
}
