.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination__item {
    //display: block;
    background-color: white;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid @color-pink-title;
    color: @color-pink-title;
    box-shadow: 0 0 3px 0 @color-pink-title;
    &:hover {
        background-color: @color-pink-title;
        color: white;
    }

    &:active {
        top: 1px;
    }
}

.pagination__items {
    display: block;
}

.pagination .active a{

    color: white;
    background-color: @color-pink-title;
}

@media @tablet-widths {
    .pagination {
        justify-content: flex-start;
    }

    .pagination__items {
        display: none;
    }
}
