.section-map {
    padding: 20px;
}


.section-map iframe {
    width: 100%;
    height: 300px;
}



@media @tablet-widths {

    .section-map {
        padding: 20px 0;
    }



    .section-map__wrapper  {
        .container-fluid();
    }

    .section-map iframe {
        height: 600px;
    }

}
