.social-blocks__wrapper {
    .container-fluid();
    display: flex;
    flex-direction: column;
}

.social-blocks__vk {
    display: block;
    //width: 500px;
    //margin: 0 auto;
}

.social-blocks__inst {
    display: block;

    //width: 500px;
    //margin: 20px auto;

}


@media @tablet-widths {
    .social-blocks__wrapper {
        flex-direction: row;
        justify-content: space-around;
    }

    .social-blocks__inst {
        
    }


}
