.social-blocks__wrapper {
    .container-fluid();
    display: flex;
    flex-direction: column;

}

.social__block-img {
    display: block;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 5px 10px 5px lightgrey;
}

.vk_subscribe {
    display: block;
    margin: 0 40px;
    margin-bottom: 20px;

}

.social-blocks__text {
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 5px 10px 5px lightgrey;


}

.social-blocks__inst {
    box-shadow: 0 5px 10px 5px lightgrey;
    //min-width: 300px;
    display: block;
    margin: 20px auto;
}

.social__block {
    //min-width: 400px;

    margin-top: 20px;
}

@media @tablet-widths {
    .social-blocks__wrapper {
        flex-direction: row;

    }

    .social-blocks__text {
        margin-right: 20px;
    }

    .social__block-img {
        margin: 40px auto;
        margin-bottom: 10px;
    }


}
